<option value="wedding">{{ 'event_date.event_type_wedding' | t }}</option>
<option value="birthday">{{ 'event_date.event_type_birthday' | t }}</option>
<option value="shower">{{ 'event_date.event_type_shower' | t }}</option>
<option value="other">{{ 'event_date.event_type_other' | t }}</option>