<div class="list-collections__filter">
  <div class="list-collections__dropdown">
    <select id="list-collections-filter-type" class="list-collections__filter-select">
      <option name="Recently Updated", value="new">Recently Updated</option>
      <option name="Oldest", value="old">Oldest</option>
      <option name="Alphabetical (A-Z)", value="title_asc">Alphabetical (A-Z)</option>
      <option name="Alphabetical (Z-A)", value="title_desc">Alphabetical (Z-A)</option>
    </select>
  </div>
</div>