<main class="win-your-wedding-flowers-thank-you">
    <img src="{{ 'contest_photo_row_one.jpeg' | asset_url }}" alt="" class="wywf-thank-you-img"/>
    <h1>Thank You For Your Submission!</h1>
    <p>Good luck to all of our entrants! We'll notify the winner within one week of the contest end date.</p>
    <a href="/" id="wywf-TYReturnHomeBtn">Return to Home Page</a>
</main>

{% schema %}
  {
    "name": "WYWF Thank You Page",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
