<main class="win-your-wedding-flowers">
    <section id="wywf--header" class="wywf--sections">
        <img src="https://site-files.fiftyflowers.com/FiftyFlowers/Image/Contest/2019_contest_images/contest_title.jpg" alt=""/>
        <h1>Win Your Wedding Flowers Photo Contest</h1>
        <img src="https://site-files.fiftyflowers.com/FiftyFlowers/Image/Contest/2019_contest_images/contest_photo_row_one.jpg" alt="" />
    </section>
    <div class="wywf--divider">
        <hr class="wywf--divider-hr">
        <hr class="wywf--divider-hr">
    </div>
    <section id="wywf--prizes" class="wywf--sections">
        <h2>The Prizes: <br><span class="wywf--prizes-title">Save & Win Money!</span></h2>
        <h3>GET A FLOWERFIX BOUQUET AND A CHANCE TO WIN THE GRAND PRIZE!</h3>
        <p>Yup, we will give you one FREE FlowerFix bouquet once you submit your flower story with photos to FiftyFlowers.com. Check out these prizes and how to enter below.</p>
        <div class="wywf--prizes-options">
            <div id="wywf--prizes-grand" class="wywf--prizes-section">
                <div class="wywf--prizes-info">
                    <h3>Grand Prize</h3>
                    <span class="wywf--prizes-amount-number">$2,000</span>
                    <span class="wywf--prizes-rules-note">*Contest Rules Apply</span>
                </div>
                <img src="https://s3.amazonaws.com/site-files-prod/FiftyFlowers/Image/Contest/2019_contest_images/contest_prize_grand_bk.jpg" alt="" />
            </div>
            <div class="wywf--prizes-secondary">
                <div id="wywf--prizes-2nd" class="wywf--prizes-section">
                    <img src="https://s3.amazonaws.com/site-files-prod/FiftyFlowers/Image/Contest/2019_contest_images/contest_prize_second_bk.jpg" alt="" />
                    <div class="wywf--prizes-info">
                        <h3>2nd Prize</h3>
                        <span class="wywf--prizes-amount-number">$500</span>
                        <span class="wywf--prizes-rules-note">*Contest Rules Apply</span>
                    </div>
                </div>
                <div id="wywf--prizes-3rd" class="wywf--prizes-section">
                    <img src="https://s3.amazonaws.com/site-files-prod/FiftyFlowers/Image/Contest/2019_contest_images/contest_prize_third_bk.jpg" alt="" />
                    <div class="wywf--prizes-info">
                        <h3>3rd Prize</h3>
                        <span class="wywf--prizes-amount">6 Month FlowerFix Subscription</span>
                        <span class="wywf--prizes-rules-note">*Contest Rules Apply</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="wywf--divider">
        <hr class="wywf--divider-hr">
        <hr class="wywf--divider-hr">
    </div>
    <section id="wywf--social" class="wywf--sections">
        <div class="wywf--social-icons">
            <a href="https://www.twitter.com/FiftyFlowerscom" class="wywf--social-option" target="_blank">
                <div class="wywf--social-icon">
                    <i class="fab fa-twitter"></i>
                </div>
            </a>
            <a href="https://pinterest.com/fiftyflowerscom/" class="wywf--social-option" target="_blank">
                <div class="wywf--social-icon">
                    <i class="fab fa-pinterest-p"></i>
                </div>
            </a>
            <a href="https://www.facebook.com/FiftyFlowers" class="wywf--social-option" target="_blank">
                <div class="wywf--social-icon">
                    <i class="fab fa-facebook-f"></i>
                </div>
            </a>
            <a href="https://www.youtube.com/user/Fiftyflowers" class="wywf--social-option" target="_blank">
                <div class="wywf--social-icon">
                    <i class="fab fa-youtube"></i>
                </div>
            </a>
            <a href="https://www.instagram.com/fiftyflowers/" class="wywf--social-option" target="_blank">
                <div class="wywf--social-icon">
                    <i class="fab fa-instagram"></i>
                </div>
            </a>
            <a href="https://www.tiktok.com/@fiftyflowers?lang=en" class="wywf--social-option" target="_blank">
                <div class="wywf--social-icon">
                    <i class="fab fa-tiktok"></i>
                </div>
            </a>
        </div>
    </section>
    <div class="wywf--divider">
        <hr class="wywf--divider-hr">
        <hr class="wywf--divider-hr">
    </div>
    <section>
        <img src="https://site-files.fiftyflowers.com/FiftyFlowers/Image/Contest/2019_contest_images/contest_second_photo_row.jpg" alt="" />
    </section>
    <div class="wywf--divider">
        <hr class="wywf--divider-hr">
        <hr class="wywf--divider-hr">
    </div>
    <section id="wywf--entry" class="wywf--sections">
        <h2>How To Enter</h2>
            <p>Entering the contest is super easy! Just follow the steps below to become eligible, plus as an added bonus, once you share your flower story with pictures, we will give you one FREE FlowerFix bouquet1</p>
            <p>Winners will be selected based upon the creativity of their floral designs and quality of their stories.</p>
        <div id="wywf-entry--steps">
            <div id="wywf-entry--step1" class="wywf--entry-step">
                <div class="wywf--entry-step-content">
                    <img src="https://site-files.fiftyflowers.com/FiftyFlowers/Image/Contest/2019_contest_images/contest_icon_reg.png" alt="" />
                    <div class="wywf--entry-step-text">
                        <h4>1. Register For Free</h4>
                        <span>Register at FiftyFlowers.com to be eligible to enter the contest.</span>
                    </div>
                </div>
            </div>
            <div id="wywf-entry--step2" class="wywf--entry-step">
                <div class="wywf--entry-step-content">
                    <img src="https://site-files.fiftyflowers.com/FiftyFlowers/Image/Contest/2019_contest_images/contest_icon_cart.png" alt="" />
                    <div class="wywf--entry-step-text">
                        <h4>2. Order Flowers</h4>
                        <span>Order any of our beautiful wholesale flowers from FiftyFlowers.com</span>
                    </div>
                </div>
            </div>
            <div id="wywf-entry--step3" class="wywf--entry-step">
                <div class="wywf--entry-step-content">
                    <img src="https://site-files.fiftyflowers.com/FiftyFlowers/Image/Contest/2019_contest_images/contest_icon_camera.png" alt="" />
                    <div class="wywf--entry-step-text">
                        <h4>3. Arrange Flowers & Get Married</h4>
                        <span>Once you receive your flowers arrange them and capture photos of them in your wedding.</span>
                    </div>
                </div>
            </div>
            <div id="wywf-entry--step4" class="wywf--entry-step">
                <div class="wywf--entry-step-content">
                    <img src="https://site-files.fiftyflowers.com/FiftyFlowers/Image/Contest/2019_contest_images/contest_icon_bullhorn.png" alt="" />
                    <div class="wywf--entry-step-text">
                        <h4>4. Share Your Story</h4>
                        <span>After your wedding, share images and write a short description of your event and how you used the flowers.</span>
                    </div>
                </div>
            </div>
        </div>
        <p>We would love for you to share about how our products and/or the services played a role in your wedding. Don’t forget to rate and comment on each flower too.</p>
        <p><strong>Bonus Tip:</strong> Share your best advice for future DIY couples. All Win Your Wedding Contest entries will receive a free FlowerFix bouquet!</p>
        <p>Just enter the email that is attached to the original order and we will pull up your orders. Pick the order you wish to write about and we will pre-fill the story form. However, some helpful tips would be appreciated.</p>
        <hr class="wywf--subsection-divider">
        <form id="wywf-entry--form">
            <label for="email">Enter your email:<span id="email-not-found">Sorry, That Email Was Not Found In Our Database</span></label>
            <input type="email" id="wywf-entry--email" name="email" placeholder="Your Email Address">
            <input type="button" id="wywf-entry--submit" value="Search My Orders" onclick="getCustomerOrdersByEmail(document.getElementById('wywf-entry--email').value)">
        </form>
        <div id="wywf-entry--form-table-section">
            <h3 id="wywf-entry--form-h3">Your Orders</h3>
        </div>
        <hr class="wywf--subsection-divider">
        <p>Need ideas on how to write your short description for the contest? Review the Information shared below along with our past winner's profile to see how they told thier personsal story and incorporated details about their flowers on their special day.</p>
            <div id="wywf-entry--links">
                <span><a href="/pages/win-your-wedding-flowers-rules">View Official Rules</a></span>
            </div>
    </section>
</main>

<script>
    async function getCustomerOrdersByEmail(email) {
        if(email) {
            email = encodeURIComponent(email);
            var customerOrders = await $.get(`${window.theme.api_url}/customer-order-history?email=${email}`, null, null, "json");

            uniqueOrderIds = [];
            customerOrders.forEach((order) => {
                if(!uniqueOrderIds.includes(order.order_id)) {
                    uniqueOrderIds.push(order.order_id);
                }
            })

            filteredOrders = [];
            uniqueOrderIds.forEach((uniqueOrderId) => {
                for(i = 0; i < customerOrders.length; i++)
                    if(uniqueOrderId === customerOrders[i].order_id) {
                        filteredOrders.push(customerOrders[i]);
                        customerOrders.splice(i, 1); 
                        break;
                    }
                    i++;
            })  
            customerOrders = filteredOrders;

            if(Array.isArray(customerOrders) && customerOrders.length) {
                if(document.getElementById('wywf--entry-order-table')) {
                    document.getElementById('wywf--entry-order-table').remove();
                }
                var table = document.createElement('table');
                var thead = document.createElement('thead');
                var tr1 = document.createElement('tr');
                var th1 = document.createElement('th');
                var th2 = document.createElement('th');
                var th3 = document.createElement('th');

                table.id = 'wywf--entry-order-table';
                table.classList.add('wywf--entry-order-table');
                thead.classList.add('wywf--entry-order-table');
                tr1.classList.add('wywf--entry-order-table');
                th1.classList.add('wywf--entry-order-table');
                th2.classList.add('wywf--entry-order-table');
                th3.classList.add('wywf--entry-order-table');

                var heading1 = document.createTextNode('Order #');
                var heading2 = document.createTextNode('Delivery Date');

                th1.appendChild(heading1);
                th2.appendChild(heading2);
                tr1.appendChild(th1);
                tr1.appendChild(th2);
                tr1.appendChild(th3);
                thead.appendChild(tr1);
                table.appendChild(thead);

                document.getElementById('wywf-entry--form-h3').style.display = 'block';

                customerOrders.forEach(customerOrder => {
                    var tr2 = document.createElement('tr');

                    var td1 = document.createElement('td');
                    var td2 = document.createElement('td');
                    var td3 = document.createElement('td');

                    var selectOrderBtn = document.createElement("input");
                    selectOrderBtn.type = 'button';
                    selectOrderBtn.value = 'SELECT ORDER';
                    selectOrderBtn.onclick = function() {
                        location.href = `/pages/win-your-wedding-flowers-entry/?order-id=${customerOrder.order_id}`;
                    };

                    var unchangedDate = new Date(customerOrder.delivery_date);
                    var deliveryDate = unchangedDate.toLocaleDateString();

                    var text1 = document.createTextNode(customerOrder.order_id);
                    var text2 = document.createTextNode(deliveryDate);
                    var text3 = selectOrderBtn;

                    td1.appendChild(text1);
                    td2.appendChild(text2);
                    td3.appendChild(text3);
                    tr2.appendChild(td1);
                    tr2.appendChild(td2);
                    tr2.appendChild(td3);
                    table.appendChild(tr2);

                    td1.classList.add('wywf--entry-order-table');
                    td2.classList.add('wywf--entry-order-table');
                    td3.classList.add('wywf--entry-order-table');
                    tr2.classList.add('wywf--entry-order-table');
                    
                })
                document.getElementById('wywf-entry--form-table-section').appendChild(table);
                document.getElementById('email-not-found').style.display = 'none';
            } else {
                document.getElementById('email-not-found').style.display = 'inline-block';
            }
        }
    }
    
</script>


{% schema %}
  {
    "name": "Win Your Wedding Flowers",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
